html{
  margin:0;
  padding:0;
  background-color: #d9f6b7;
}

header div#user_info form input[type=text],
header div#user_info form input[type=password]{
  background-color: #d9f6b7;
  border: 2px solid #d9f6b7;
}
header div#user_info form input[type=text]:hover,
header div#user_info form input[type=password]:hover,
header div#user_info form input[type=text]:focus,
header div#user_info form input[type=password]:focus{
  border: 2px solid #aede76;
}

header div#user_info form input[type=submit]{
  border: 2px solid #aede76;
  background-color: #aede76;
  font-weight: bold;
}
header div#user_info form input[type=submit]:hover{
  background-color: #d9f6b7;
}

header div#user_info form input[type=text].error,
header div#user_info form input[type=password].error{
  background-color: bisque;
  border-color: #c43d3d;
}

header div#user_info form input[type=text].error:hover,
header div#user_info form input[type=password].error:hover,
header div#user_info form input[type=text].error:focus,
header div#user_info form input[type=password].error:focus{
  border-color: red;
}