header, div#page{
  width: 1000px;
  margin: 0 auto;
  background-color: #aede76;
}

header{
  height: 110px;
  position: fixed;
  top: 0;
  left:50%;
  margin:0;
  margin-left: -503px;
  padding:0;
  border: 3px solid #f4bb4c;
  border-top: none;
  z-index: 10000;
  -moz-box-shadow: 0 0 5px 5px #555;  
  -webkit-box-shadow: 0 0 5px 5px #555;  
  box-shadow: 0 0 5px 5px #555;  
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; 
}

header div#user_info{
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  height: 30px;
  width:100%;
  font-size: smaller;
  background-color: #f4bb4c;
}

header div#user_info div#logo{
  float:left;
  height: 30px;
  margin-top: -3px;
}

header div#user_info div#logo img{
  height: 30px;
  vertical-align: middle;
}

header div#user_info div#logo a{
  text-decoration: none;
}

header div#user_info div#logo a span{
  vertical-align: middle;
  font-size: x-large;
  color: #3b8eb5;
  font-weight: bold;
  display: inline-block;
  text-shadow: 1px 1px 3px #ddd;
}

div#page{
  position: relative;
  height: 100%;
  margin-top: 110px;
  border: 3px solid #f4bb4c;
  border-top: none;
  border-radius: 0 0 6px 6px; 
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px; 
  overflow: hidden;
}

div#page div#sidebar{
  position: relative;
  float:left;
  display: inline-block;
  height: 100%;
  min-height: 100%;
  width: 25%;
  border-right: 3px solid #f4bb4c;
  border-top: 10px solid #f4bb4c;
}

div#page div#sidebar ul{
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

div#page div#sidebar ul li{
  padding-left: 10px;
}

div#page div#content{
  position: relative;
  float:right;
  margin-top: 10px;
  height: 100%;
  width: 73%;
}

div#page div#clear{
  position: relative;
  clear: both;
  height: 10px;
}

div.bouton{
  padding: 3px 3px 3px 25px;
  display: inline-block;
  border: 1px solid #aede76;
  background-color: #f4bb4c;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; 
  font-weight: bold;
}

div.bouton:hover{
  cursor: pointer;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.24, #FAD287),
      color-stop(0.62, #F7C363),
      color-stop(0.81, #F4BC4C)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #FAD287 24%,
      #F7C363 62%,
      #F4BC4C 81%
  );
}

div.bouton