header, div#page{
  width: 1000px;
  margin: 0 auto;
  background-color: #aede76;
}

header{
  height: 144px;
  position: fixed;
  top: 0;
  left:50%;
  margin:0;
  margin-left: -503px;
  padding:0;
  border: 3px solid #f4bb4c;
  border-top: none;
}

header div#user_info{
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  height: 30px;
  width:100%;
  font-size: smaller;
  background-color: #f4bb4c;
}

header div#logo{
  display: inline-block;
  text-align: center;
  height: 80px;
}

div#page{
  height: 100%;
  margin-top: 144px;
  border: 3px solid #f4bb4c;
  border-top: none;
}

div#page div#sidebar{
  display: inline-block;
  height: 100%;
  width: 245px;
  border-right: 3px solid #f4bb4c;
  border-top: 10px solid #f4bb4c;
}

div#page div#sidebar ul{
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

div#page div#sidebar ul li{
  padding-left: 10px;
}

div#page div#content{
  border-top: 10px solid #f4bb4c;
  margin-left: 250px;
  height: 100%;
  width: 652px;
}